@mixin barlow-400
    font-family: 'Barlow', sans-serif
    font-weight: 400

@mixin barlow-600
    font-family: 'Barlow', sans-serif
    font-weight: 600

@mixin montserrat
    font-family: 'Montserrat', sans-serif
    font-weight: 500

.layout
    display: flex
    flex-direction: column
    background: #E9F0FB

.banner
    &Main
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        gap: 0px

        .info
            margin-left: 239px
            width: 570px

        .picture
            height: 800px

    &Shop
        background: white
        display: flex
        flex-direction: row
        justify-content: center
        gap: 30px
        padding-top: 70px
        padding-bottom: 70px

        .info
            background: #E9F0FB
            border-radius: 24px
            padding: 296px 50px
            margin-left: 80px

        .products
            display: flex
            flex-direction: row
            justify-content: center
            gap: 30px
            flex-wrap: wrap
            margin-right: 80px

    &Customizer
        display: flex
        flex-direction: row
        align-items: center
        padding-top: 70px
        padding-bottom: 70px
        background: white

        .picture
            margin-left: -100px
            width: 945px
            height: 800px

        .info
            width: 570px

    &Cards
        display: flex
        flex-direction: column
        align-items: center
        background: white
        padding-bottom: 120px

        .info
            display: flex
            flex-direction: column
            align-items: center

        .cards
            margin-top: 80px
            display: flex
            flex-direction: row
            justify-content: center
            flex-wrap: wrap
            gap: 30px
            max-width: 1300px
            padding-bottom: 70px

    &Testimonials
        display: flex
        flex-direction: column
        justify-content: center
        background: white
        padding-bottom: 150px

        .info
            display: flex
            flex-direction: column
            align-items: center

        .testimonial
            margin-top: 70px
            display: flex
            justify-content: center
            align-items: center

            .man
                margin-left: 30px

                .name
                    @include montserrat
                    font-size: 28px
                    line-height: 36px

                .review
                    margin-top: 8px
                    max-width: 970px
                    @include barlow-400
                    font-size: 20px
                    line-height: 30px

.caption
    @include montserrat
    font-size: 48px
    line-height: 60px

    .textBlue
        color: #143A79

.divisor
    margin-top: 24px
    width: 200px
    height: 2px
    background: black

.description
    @include barlow-400
    font-size: 16px
    line-height: 24px
    margin-top: 34px

.buttons
    display: flex
    flex-direction: row
    gap: 8px
    margin-top: 24px
